<div class="about-container">
  <div class="about-me">
    <div ng-repeat="item in ctrl.aboutItems" class="item-box">
      <div class="title">{{item.title}}: </div>
      <div class="value">{{item.value}}</div>
    </div>
  </div>
  <h3 class="h">
    Used technologies:
  </h3>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in ctrl.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
