.map-container {
  display: flex;
  margin: 15px;
  #map {
    flex-basis: 60%;
    height: 60vh;
  }
  .selected-marker {
    flex-basis: 40%;
    min-width: 40%;
    .title {
      padding: 10px 15px;
      font-size: 14px;
      color: rgba(0, 0, 0, .4);
      transition: all 0.3s ease;
      &:hover {
        font-size: 18px;
        background-color: darken(#fff, 10%);
      }
    }
    .value {
      padding: 10px 15px;
      font-size: 16px;
      color: rgba(0, 0, 0, .7);
      font-weight: 700;
      transition: all 0.3s ease;
      &:hover {
        font-size: 18px;
        background-color: darken(#fff, 10%);
      }
    }
    .object-name {
      font-size: 20px;
    }
    .link-to-object {
      padding: 15px;
      background-color: #fff;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s ease;
      color: rgba(0, 0, 0, .8);
      &:hover {
        font-size: 18px;
        background-color: darken(#fff, 10%);
      }
    }
  }
}
.other-header {
  font-size: 18px;
  margin-left: 15px;
}
.object {
  display: flex;
  background-color: #fff;
  transition: all 0.3s ease;
  .distance {
    min-width: 80px;
  }
  .margin {
    margin-right: 10px;
  }
  .title {
    padding: 10px 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, .4);
    transition: all 0.3s ease;
  }
  .value {
    padding: 10px 15px;
    font-size: 16px;
    color: rgba(0, 0, 0, .7);
    font-weight: 700;
    transition: all 0.3s ease;
    display: flex;
    .title {
      padding: 0;
      margin-right: 10px;
    }
    .name {
      min-width: 450px;
      max-width: 80vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &:hover, &.active {
    font-size: 18px;
    background-color: darken(#fff, 10%);
  }
}

.select-for-diseases {
  margin: 15px;
}

.marker-content {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    span {
      min-width: 200px;
    }
  }
}

@media (max-width: 500px) {
  .map-container #map {
    height: 80vh;
  }
  li.last {
    position: relative !important;
  }
  .about-container .row .techs {
    width: calc(~"100vw - 30px");
  }
  .object .value {
    flex-direction: column;
    .name {
      min-width: 100px;
      max-width: calc(~"100vw - 100px");
    }
  }
  .map-container .selected-marker .value {
    font-size: 12px;
  }
}
