<div class="select-for-diseases">
  <label for="regions">Сортувати за регіоном:</label>
  <select name="regions" id="regions"
          class="form-control"
          ng-model="ctrl.chosenRegion"
          ng-change="ctrl.sortObjects()">
    <option ng-value="item._id" ng-repeat="item in ctrl.regions">{{item.name}}</option>
  </select>
</div>
<div class="map-container">
  <div id="map"></div>
</div>
<div class="statistics">
  <div class="header">
    Загальна статистика по області:
  </div>
  <div class="box">
    <div class="title">Фонд</div>
    <div class="value">{{ctrl.chosenRegion.stock}}</div>
  </div>
  <div class="box">
    <div class="title">Посадка лісу (га): </div>
    <div class="value">{{ctrl.chosenRegion.stock}}</div>
  </div>
  <div class="box">
    <div class="title">Природне поновлення лісу (га):</div>
    <div class="value">{{ctrl.chosenRegion.stock}}</div>
  </div>
  <div class="box">
    <div class="title">Проведення рубок (тис. м3):</div>
    <div class="value">{{ctrl.chosenRegion.stock}}</div>
  </div>

</div>
<div class="other-container">
  <div class="other-header">
    All objects:
  </div>
  <div class="object" ng-repeat="object in objects | orderBy: 'distance'" ng-click="ctrl.handleLocationClick(object);">
    <div class="title">Name: </div>
    <div class="value"><span class="name">{{object.name}},</span> <span class="title">distance: </span>
      <span ng-if="object.distance">{{object.distance | number: 1}} km.</span>
      <span ng-if="!object.distance">unknown</span>
    </div>
  </div>
</div>
