.main-container {
  padding: 15px;
  .heading {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .description {
    .desc-header {
      font-size: 18px;
    }
    .desc-items-container {
      .desc-item {
        font-size: 16px;
        padding: 15px;
        transition: all 0.3s ease;
        background-color: #fff;
      }
    }
  }
}
