<div class="water-object-container">
  <h2>{{ctrl.object.name}}</h2>
  <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" class="images-carousel">
    <div uib-slide ng-repeat="slide in ctrl.object.images track by $index" index="$index">
      <img ng-src="{{slide.link}}" style="margin:auto;">
      <div class="carousel-caption">
        <h4>Зображення {{$index + 1}}</h4>
      </div>
    </div>
  </div>
  <div ng-bind-html="$sce.trustAsHtml(ctrl.object.desc)" class="object-desc"></div>
  <div class="edit-button-box" ng-if="ctrl.$scope.$root.authenticated">
    <div class="btn btn-default" ui-sref="addObject({id: ctrl.object._id})">Редагувати</div>
  </div>
</div>
<div class="loader-container" ng-if="ctrl.$scope.animation">
  <div class="loader"></div>
</div>
