.water-object-container {
  h2 {
    margin-left: 30px;
  }
  img {
    height: 400px !important;
    max-width: 400px !important;
  }
  .object-desc {
    margin: 0 30px;
  }
  .edit-button-box {
    padding: 15px;
  }
  .diseases-description-box {
    .diseases-header {
      padding: 15px;
      font-size: 16px;
      font-weight: bold;
    }
    .disease {
      background-color: #fff;
      padding: 5px 15px;
      transition: all 0.3s ease;
      &:hover {
        background-color: darken(#fff, 10%);
        font-size: 16px;
      }
    }
  }
}
