<div class="add-object-container">
  <form action="" name="addObjectForm" onsubmit="event.preventDefault();">
    <div class="input-box">
      <label for="name">Name:</label>
      <input type="text" id="name" class="form-control" ng-model="ctrl.newObject.name" required="true">
    </div>
    <div class="input-box">
      <label for="lat">Latitude:</label>
      <input type="text" id="lat" class="form-control" ng-model="ctrl.newObject.lat" required="true">
    </div>
    <div class="input-box">
      <label for="lng">Longitude:</label>
      <input type="text" id="lng" class="form-control" ng-model="ctrl.newObject.lng" required="true">
    </div>
    <div class="input-box">
      <label for="forestPlanting">Посадка лісу (га):</label>
      <input type="text" id="forestPlanting" class="form-control" ng-model="ctrl.newObject.forestPlanting" required="true">
    </div>
    <div class="input-box">
      <label for="reforestation">Природне поновлення лісу (га):</label>
      <input type="text" id="reforestation" class="form-control" ng-model="ctrl.newObject.reforestation" required="true">
    </div>
    <div class="input-box">
      <label for="eventLogging">Проведення рубок (тис. м3):</label>
      <input type="text" id="eventLogging" class="form-control" ng-model="ctrl.newObject.eventLogging" required="true">
    </div>
    <div class="input-box">
      <label for="id">ID Області(<a href="http://nominatim.openstreetmap.org/" target="_blank">link to get id</a>):</label>
      <input type="text" id="id" class="form-control" ng-model="ctrl.newObject.cityId" required="true">
    </div>
    <div class="input-box">
      <label for="desc">Description:</label>
      <div text-angular ng-model="ctrl.newObject.desc" id="desc" required="true"></div>
    </div>
    <div class="imagesInputContainer">
      <label for="">Images:</label>
      <div class="image-input-box" ng-repeat="img in ctrl.newObject.images track by $index">
        <div class="input-box">
          <input type="text" ng-model="img.link" class="form-control">
          <i class="fa fa-trash" aria-hidden="true" ng-click="ctrl.removeImage($index)"></i>
        </div>
      </div>
      <div class="add-image" ng-click="ctrl.addImage()">
        <i class="fa fa-plus-square" aria-hidden="true"></i> <span>Add Image</span>
      </div>
    </div>
    <div class="input-box">
      <button class="btn btn-default" ng-click="ctrl.addObject()" ng-disabled="addObjectForm.$invalid">Save Object</button>
    </div>
  </form>
</div>
<div class="loader-container" ng-if="ctrl.$scope.animation">
  <div class="loader"></div>
</div>

